<!DOCTYPE html>
<html ng-app="mealApp">

	<title>
	Quizne
		</title>

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="script.js"></script>
		<link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
    	<script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js">
    	</script>
    	<script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js">
    	</script>

	</head>

	<body id="mainBody" ng-controller="mealController">

		<div class="leftsideBar">

			<br>
			<br>
			<br>
			<br>
			
			<div id="leftsidebarContent">

				<h1 style="font-size:15px; color:#22313F;" >Meal type</h1>
				
				<form id="mealTypeForm" style="color: #ECF0F1">

				<select ng-model="mealTypevalue">
					  <option value="" disabled selected>Choose...</option>
					  <option value="Breakfast">Breakfast</option>
					  <option value="Main Meal">Main Meal</option>
					  <option value="snacks">side dish/snack</option>
					  <option value="Beverage">Beverage</option>
					  <option value="starters">starter/soup</option>
					  <option value="Dessert">desserts</option>
				</select>

				<!--

				<input id="checkBox" type="checkbox" name="Breakfast" value="Breakfast" ng-model="meal.breakfast">
				<span class="checkBoxText">Breakfast ({{(recipes|filter:{type:"breakfast"}).length}})<span style="padding-left: 70px;"><img src="breakfast.png" height="25px" width="25px"></span></span><br>
				<input id="checkBox" type="checkbox" name="mainmeal" value="Main Meal" ng-model="meal.mainMeal">
				<span class="checkBoxText">Main Meal ({{(recipes|filter:{type:"Main Meal"}).length}})<img style="padding-left: 65px; bottom:0px;" src="burger.png" height="25px" width="25px"></span><br>
				<input id="checkBox" type="checkbox" name="snacks" value="Side dish/snack" ng-model="meal.snack">
				<span class="checkBoxText">side dish/snack ({{(recipes|filter:{type:"Side dish/snack"}).length}})<img style="padding-left: 35px; bottom:0px;" src="popcorn2.png" height="28px" width="30px"></span><br>
				<input id="checkBox" type="checkbox" name="Beverage" value="Beverage" ng-model="meal.beverage">
				<span class="checkBoxText">Beverage ({{(recipes|filter:{type:"Beverage"}).length}})<img style="padding-left: 75px; bottom:0px;" src="cheese.png" height="23px" width="25px"></span><br>				
				<input id="checkBox" type="checkbox" name="starters" value="starters" ng-model="meal.soup">
				<span class="checkBoxText">starter/soup ({{(recipes|filter:{type:"starters"}).length}})<img style="padding-left: 55px; bottom:0px;" src="hot56.png" height="26px" width="28px"></span><br>				
				<input id="checkBox" type="checkbox" name="dessert" value="Dessert" ng-model="meal.dessert">
				<span class="checkBoxText">Dessert ({{(recipes|filter:{type:"dessert"}).length}})<img style="padding-left: 85px; bottom:0px;" src="sweet9.png" height="26px" width="28px "></span><br>		
				-->

				</form>


				<H1 style="font-size:15px; color:#22313F; margin-top:0px;">Duration</H1>
				<div class="durationContainer">
					<div id="durationOption">
						<input style="background-color:#F39C12;" ng-click="showme=false" type="button" value="Slider" id="slide">
					</div>

					<div id="durationOption">
						<input style="background-color:#22313F;" ng-click="showme=true" type="button" value="value" id="byValue">
					</div>

					<div ng-hide="showme">

					<div style="text-align:center; color:#22313F">{{duration}}min</div>
						<input ng-model="duration" type="range" min="1" max="50">
					</div>

						<div ng-show="showme" style="margin-left:5%; text-align:center;">
							<span style="color: #22313F; font-weight:bold; text-align:center; font-size:13px; "> Enter value: </span>
							<input ng-model="duration" placeholder="minutes" style="color: #BFBFBF; border-radius: 5px; margin:10px;" type="text">
						</div>
				</div>

				<h1 style="font-size:15px; color:#22313F; margin-top:0px; margin-bottom:0px;">Ingredient</h1>

				<div style="color:#6C7A89">

					<div ng-repeat="meal in recipes" style="margin:3px; background-color:#ECF0F1; display: inline-block; padding:3px; border-radius:5px; font-size:12px;">
						<input type='checkbox' name='{{meal.ingredientIs}}' value='{{meal.ingredientIs}}' id="{{meal.ingredientIs}}"/>
						<label for="{{meal.ingredientIs}}" style="margin-right:5px;"></label>{{meal.ingredientIs}}
					</div>

					<!--
					<div style="margin:3px; background-color:#ECF0F1; display: inline-block; padding:3px; border-radius:5px; font-size:12px;">
						<input ng-model="butter" type='checkbox' name='butter' value='butter' id="butter"/>
						<label for="butter" style="margin-right:5px;"></label>butter
					</div>

					<div style="margin:3px; background-color:#ECF0F1; display: inline-block; padding:3px; border-radius:5px; font-size:12px;">
						<input ng-model="value" type='checkbox' name='carrots' value='carrots' id="carrots"/>
						<label for="carrots" style="margin-right:5px;"></label>carrots
					</div>

					<div style="margin:3px; background-color:#ECF0F1; display: inline-block; padding:3px; border-radius:5px; font-size:12px;">	
						<input type='checkbox' name='cream' value='cream' id="cream"/>
						<label for="cream" style="margin-right:5px;"></label>cream
					</div>

					<div style="margin:3px; background-color:#ECF0F1; display: inline-block; padding:3px; border-radius:5px; font-size:12px;">
						<input type='checkbox' name='eggs' value='eggs' id="eggs"/>
						<label for="eggs" style="margin-right:5px;"></label>eggs
					</div>

					<div style="margin:3px; background-color:#ECF0F1; display: inline-block; padding:3px; border-radius:5px; font-size:12px;">
						<input type='checkbox' name='flour' value='flour' id="flour"/>
						<label for="flour" style="margin-right:5px;"></label>flour
					</div>

					<div style="margin:3px; background-color:#ECF0F1; display: inline-block; padding:3px; border-radius:5px; font-size:12px;">
						<input type='checkbox' name='garlic' value='garlic' id="garlic"/>
						<label for="garlic" style="margin-right:5px;"></label>garlic
					</div>

					<div style="margin:3px; background-color:#ECF0F1; display: inline-block; padding:3px; border-radius:5px; font-size:12px;">
						<input type='checkbox' name='pepper' value='pepper' id="pepper"/>
						<label for="pepper" style="margin-right:5px;"></label>pepper
					</div>

					<div style="margin:3px; background-color:#ECF0F1; display: inline-block; padding:3px; border-radius:5px; font-size:12px;">
						<input type='checkbox' name='scotch' value='scotch' id="scotch"/>
						<label for="scotch" style="margin-right:5px;"></label>scotch
					</div>					
					-->

				<!--
					<select>
					  <option value="" disabled selected>Choose...</option>
					  <option value="butter">butter</option>
					  <option value="carrots">carrots</option>
					  <option value="cream">cream</option>
					  <option value="eggs">eggs</option>
					  <option value="flour">flour</option>
					  <option value="garlic">garlic</option>
					  <option value="milk">oil</option>
					  <option value="audi">olive oil</option>
					</select>
					
				-->

				</div>

				<h1 style="font-size:15px; color:#22313F; margin-top:20px; margin-bottom:0px;">Rating</h1>

					<fieldset class="rating" style="margin-right: 70px;">
					    <input type="radio" ng-model="ratingModel" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
					    <input type="radio" ng-model="ratingModel" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
					    <input type="radio" ng-model="ratingModel" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
					    <input type="radio" ng-model="ratingModel" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
					    <input type="radio" ng-model="ratingModel" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
					</fieldset>

			</div>
	
		</div>
		<div class="headerContainer">

			<div id="rightheader">
				<div ng-click="openMenu =! openMenu" style="display:inline; margin-left:22%; top:35%; position:absolute;">
					<img  src="menu10.png" height="15px" width="20px;">
				</div>
				
				<div id="searchBox">
					<input type="search" placeholder="Search" ng-model="searchText">
				</div>

			</div>

			<div id="leftheader">
				<span id="leftheaderText">Quizne</span>
			</div>

		</div>

		<div ng-show="openMenu" id="facetMenu" style='color:#6C7A89'>

			<span ng-repeat='config in Usersettings'>

				<div ng-if="config == 'text'" style="float:left; padding: 20px;">
					<h1 style="color:#EEEEEE; font-size:18px;">Text</h1> 

					<span>
						<form>
							<div>
								<input style="color:white" value="hello" name="texter" type="text" id="texter">
							</div>
						</form>
					</span>

				</div>

				<div ng-if="config == 'radio'" style="float:left; padding: 20px;">
					<h1 style="color:#EEEEEE; font-size:18px;">Radio</h1>

					<span>
						<form>
							<div style="margin:3px; background-color:#ECF0F1; display: inline-block; padding:3px; border-radius:5px; font-size:12px;">
								<input value="cat" name="animal" type="checkbox" id="cat">
								<label for="cat" style="margin-right:4px;"></label>cat
							</div>

							<div style="margin:3px; background-color:#ECF0F1; display: inline-block; padding:3px; border-radius:5px; font-size:12px;">
								<input value="dog" name="animal" type="checkbox" id="dog">
								<label for="dog" style="margin-right:4px;"></label>dog
							</div>

						</form>
					</span>

				</div>
			</span>
		
		<!--
			<div ng-repeat='config in Userconfig' style='color:#6C7A89'>

			</div>
		-->

			<!--
			<span ng-if="Usersettings[0] == 'radio'">
				<form style="float:left; padding: 20px;">
					<h1 style="color:#22A7F0">Radio</h1>
					<div ng-repeat='data in config.radio' style="margin:3px; background-color:#ECF0F1; display: inline-block; padding:3px; border-radius:5px; font-size:12px;">

						<input value="{{data.value}}" name="{{data.name}}" type="checkbox" id="{{data.value}}">
						<label for="{{data.value}}" style="margin-right:5px;"></label>{{data.value}}
					</div>
				</form>
			</span>

				<span ng-if="Usersettings[0] == 'text'">
					<form style="float:left; padding: 20px;">
						<h1 style="color:#22A7F0">Text</h1> 
						<div ng-repeat='data in config.text'>
							<input style="{{data.style}}" value="{{data.value}}" name="{{data.name}}" type="text" id="{{data.value}}">
						</div>
					</form>
				</span>

				-->
			

			<div ng-if="config == 'hoot' ">
		    //differnt template with hoot data
			</div>	

		</div>




		<div class="mainContainer">
			<div class="main">

				<div class="navBar">
				<div id="nav_indicator"></div>
					<a href="#"><div class="navBar_item" id="all" name="all">All</div></a>
					<a href="#" ng-model="difficulty" value="medium"><div class="navBar_item" id="easy" name = "easy">Easy</div></a>
					<a href="#"><div class="navBar_item" id="medium" name = "medium">Medium</div></a>
					<a href="#"><div class="navBar_item" id="difficult" name = "difficult">Difficult</div></a>
			</div>

			<div class="filterContainer">

				<span ng-show="meal.breakfast" id="filtertag" name="hello">Breakfast
					<span id="filtertagRemove"> 
					<a href="google.com">remove</a>
					</span>
				</span>

				<span ng-show="meal.mainMeal" id="filtertag" name="hello">Main Meal
					<span id="filtertagRemove"> 
					<a href="google.com">remove</a>
					</span>
				</span>

				<span ng-show="meal.snack" id="filtertag" name="hello">side dish/snack
					<span id="filtertagRemove"> 
					<a href="google.com">remove</a>
					</span>
				</span>

				<span ng-show="meal.beverage" id="filtertag" name="hello">Beverage
					<span id="filtertagRemove"> 
					<a href="google.com">remove</a>
					</span>
				</span>

				<span ng-show="meal.dessert" id="filtertag" name="hello">Dessert
					<span id="filtertagRemove"> 
					<a href="google.com">remove</a>
					</span>
				</span>
				
			</div>


			<div class="contentContainer">
				<a href="">
				<div ng-click='selectMeal(meal)' class="contentItem" ng-repeat='meal in filteredReciepes | filter:{title: searchText} | filter:duration | filter:{type: mealTypevalue} | filter:{ratings: ratingModel} |filter : value1 ' ng-style="{'background-image':'url({{ meal.url }})'}">
					<span id="contentItemHeader">{{ meal.title }}</span>
					<span id="contentItemLevel">{{ meal.level }}</span>

					<span id="contentItemRating">
						<span ng-repeat="stars in [] | range:meal.ratings">
							<img src="star129.png" height="15px" width="15px">	
						</span>

						<span ng-repeat="dots in [] | range:5-meal.ratings">
							<img style="margin: 3px;" src="dot.png" height="5px" width="5px">
						</span>
					</span>
					
				</div>
				</a>
			<div data-pagination="" data-num-pages="numPages()" 
	      		data-current-page="currentPage" data-max-size="maxSize"  
	      		data-boundary-links="true">  		
      		</div>
			<!--
			<div ng-show="hasMoreItemsToShow()" style="text-align: center"> <input ng-click="showMoreItems()" id="showMore" type="button" value="show more"></div>
			-->
			</div>
		</div>

	</div>
<!--ng-show="showModal"--> 
		
	<div id="modalBackground" ng-show="showModal">
	<div id="closeModal" ng-click="dissmisModalView(close)">
		<a href=""><img id="closeimg" src="close.png" height="0" width="0" ></a>
	</div>
		<div class="modalContainer" ng-style="{'background-image':'url({{selectedMeal.url}})'}">
				<div id="modalHeader"> 
					<div style="padding-top: 10px;">{{selectedMeal.title}}</div>
				</div>

			<div id="infoSection" ng-show="showInfoSection">

				<div id="modalPictureView">

					<div id="MealtagContainer">
						<div style="font-size:13px; color:#F39C12;">
							<h3 style="color: white; font-size:15px; display: inline-block;">Difficulty:</h3> {{selectedMeal.level}}
							<h3 style=" margin-left: 15px; color: white; font-size:15px; display: inline-block;">Duration:</h3> {{selectedMeal.duration}}min
							<h3 style="margin-left: 15px; color: white; font-size:15px; display: inline-block;">
							Rating:</h3>
							<span>
								<span ng-repeat="stars in [] | range:selectedMeal.ratings">
									<img src="star129.png" height="15px" width="15px">
								</span>
								<span ng-repeat="dots in [] | range:5-selectedMeal.ratings">
								<img style="margin: 3px;" src="dot.png" height="5px" width="5px">
								</span>
							</span>
						</div>		

					</div>

				</div>

				<div id="modalBodyContainer">
					<div id="modalInfoBody">
					<div style="color:#BDC3C7; margin-left:10px; font-size:13px;">
						<h2 style="color:#F39C12;">Nutrition:</h2>
						Amount Per Serving (549g)<br>
						Energy (kcal): 589<br>
						Protein: 53.4g<br>
						Total Fat: 29.4g<br>
						Total Carbs: 17.1g<br>
						Fibres: 1.4g<br>
					</div>
					
					</div>
					<div id="modalDescriptionBody" style="color:#BDC3C7">
						<h1 style="color:#F39C12">Description:</h1><br>
						{{selectedMeal.description}}
					</div>
				</div>

			</div>	

			<div id="ingredientSection" ng-show="showIngredientSection">
				
				<div id="ingredientBody">
					<div style="color:#BDC3C7; text-align:center; font-size:13px; text-weight:bold; padding-top:20px;">
					 1½ kg shrimp, large, whole <br><br>

					 1 can(s) tomatoes, chopped <br><br>

					 4 clove(s) garlic, finely diced <br><br>

					 200 ml white wine <br><br>

					 50 g breadcrumbs <br><br>

					 100 ml olive oil <br><br>

					 1 bunch(es) parsley, chopped
					</div>
				</div>
			</div>


			<div id="methodSection" ng-show="showMethodSection">
				

				<div id="MethodBody">
					

				</div>

			</div>	


			<div id="shareSection" ng-show="showShareSection">
				

				<div id="ShareBody">
					

				</div>

			</div>	

			<div id="modalTabbar">
				<ul id="tabbarList">
					<li><a id="infoLink" href="" ng-click='showInfo("#infoLink")'href=""> Info </a></li>
					<li><a id="ingredientsLink" href="" ng-click='showIngredient("#ingredientsLink")'> Ingredients </a></li>
					<li><a id="methodLink" href="" ng-click='showMethod("#methodLink")'> Method </a></li>
					<li><a id="shareLink" href="" ng-click='showShare("#shareLink")'> Share </a></li>
				</ul>
			</div>

			<div class="forTabbar" id="nav_indicator" style="height: 1%; top:96%; margin-left:35px; width:50px; border-radius:10px;"></div>

		</div>
	</div>
	</body>
</html>