html, body
{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url("srabi-foods-wallpaper-hd.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*
{
    padding: 0;
    margin: 0;
}

.headerContainer{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 65px;
	background-color: blue;
	margin: 0px;
}

#rightheader{
	position: absolute;
	background-color: #34495E;
	width: 100%;
	height: 100%;
	float: right;
	color: white;
}

#leftheader{
	position: absolute;
	background-color: #F39C12;
	width: 240px;
	height: 100%;
}

.leftsideBar{
	float: left;
	position: relative;
	width: 240px;
	height: 100%;
	background-color: #34495E;
}

#leftsidebarContent{
	position:static;
	margin:0 auto;
	background-color: green;
}

.ratingSection{
	position: relative;
	background-color: green;
	width: 100%;
}

.ingredientSection{
	position: relative;
	background-color: yellow;
	width: 100%;
}

.readyinSection{
	position: relative;
	background-color: orange;
	width: 100%;
}

.tagsSection{
	position: relative;
	background-color: brown;
	width: 100%;
}

#searchBox{
	padding-top: 17px;
	padding-right: 100px;
	float: right;
	font-size: 13px;
	color: white;
	padding-left: 300px;
}

#searchBox input[type="text"]{ 
padding: 10px;

border-radius: 30px;
-moz-border-radius: 30px;
-khtml-border-radius: 30px;
-webkit-border-radius: 30px;

border-width: 0;
width: 130px;
height: 10px;
color: white;
font-size: 13px;
background-color: #22313F;

}

#mainBody{
	opacity: 0;
}


.main{
	padding: 0px;
	margin: 0px;
	position: relative;
	left: 1940px;
	top: 300px;
	width:1360px;
	height: 718px;
}

.navBar{
	bottom: 500px;
	position: relative;
	width: 100%;
	height: 50px;
	background-color: black;
	opacity: 0.8;
	color: white;
}

.navBar_item{
	padding-top: 10px;
	text-align: center;
	left: 0px;
	height: 20px;
	color: white;
}

#all{
	position: absolute;
	float: left;
	width: 25%;
}

#easy{
	position: absolute;
	float: left;
	left: 25%;
	width: 25%;
}

#medium{
	float: left;
	left: 50%;
	width: 25%;
	position: absolute;
}

#difficult{
	float: left;
	left: 75%;
	width: 25%;
	position: absolute;
}

#nav_indicator{
	background-color: #F39C12;
	position: absolute;
	left: 0%;
	top: 90%;
	width: 25%;
	height: 5px;
}

a{
	text-decoration: none;
	color: white;
}


.filterContainer{
	width: 100%;
	height: 100%;
	background-color: white;
}

:focus {outline:none;}